@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Bold.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-CondensedBold.ttf");
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
div.hbspt-form{
 
}